nav {
    width: 100%;
    padding: 1.5em;
    background-color: #a0e;
    margin: 0;
}

nav ul {
    margin: auto;
    width: 65%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 5%;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff
}

nav ul a:hover {
    color: #a0e;
    background-color: #fff;
    border: 1px solid #a0e;
    transition: .2s linear;
}