#profilePicture {
    margin: .3rem;
    width: 95px;
    border-radius: 20%;
}

.text-align-right {
    text-align: right;
}

.wrapper {
    display: flex;
    width: 30%;
}

.wrapper p {
    margin: auto;
}

a {
    color: #a0e;
    text-decoration: none;
    display: block;
    border: 1px solid #a0e;
    padding: .2rem;
    border-radius: .2rem;
    margin: .2rem;
}

a:hover {
    color: #fff;
    background-color: #a0e;
    border: 1px solid #fff;
    transition: .2s linear
}

