ul {
    min-width: 300px;
    width: 25%;
}

.threadcard {
    display: block;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    margin: 1rem auto;
    border-radius: .2rem;
}

.threadcard:hover {
    color: #a0e;
    border: 1px solid #a0e;
    background-color: #eee;
    transition: .2s linear;
}

.threadcard:hover .header {
    background-color: #a0e;
    color: #fff;
    transition: .2s linear;
}

.threadcard li {
    list-style-type: none;
}

.threadcard .header {
    background-color: #eee;
    padding: .4rem .4rem .1rem .4rem;
}

.threadcard .body {
    padding: .4rem;
}

.threadcard .footer {
    padding: .4rem;
    font-style: italic;
}

.threadcard button {
    width: 100%;
}